{% extends "base.html" %}

{% block main %}

<div class="container">

  <h3>CONTACT FORM</h3>

  Fill in this form to contact the site owners.

  <form method="POST" action="{{ url_for('contact') }}">
    {{ form.csrf_token }}
    {{ form.name.label }} <br /><span style="color:red"> * </span> Please enter your full name <br /> {{ form.name }}<br /> <br />
    <ul>
    {% for error in form.name.errors %}
      <li style="color:red;">{{ error }}</li>
    {% endfor %}
    </ul>
    {{ form.email.label }} <br /> <span style="color:red"> * </span>Please enter your e-mail address <br /> {{ form.email }}<br /> <br />
    <ul>
    {% for error in form.email.errors %}
      <li style="color:red;">{{ error }}</li>
    {% endfor %}
    </ul>
    {{ form.subject.label }} <br /> <span style="color:red"> * </span>Pleae enter subject <br />  {{ form.subject(size="55") }}<br /> <br />
    <ul>
    {% for error in form.subject.errors %}
      <li style="color:red;">{{ error }}</li>
    {% endfor %}
    </ul>
    {{ form.message.label }} <br /> <span style="color:red"> * </span>Please enter the message you want to send. <br /> {{ form.message }}<br /> <br />
    <ul>
    {% for error in form.message.errors %}
      <li style="color:red;">{{ error }}</li>
    {% endfor %}
    </ul>
    <button type="submit">Send</button>
            

  </form>

</div>

{% endblock %}